// Font Open Sauce Sans
@font-face {
	font-family: "Open Sauce Sans";
	src: url("./assets/libs/fonts/OpenSauceSans-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Open Sauce Sans";
	src: url("./assets/libs/fonts/OpenSauceSans-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Open Sauce Sans";
	src: url("./assets/libs/fonts/OpenSauceSans-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Open Sauce Sans";
	src: url("./assets/libs/fonts/OpenSauceSans-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Open Sauce Sans";
	src: url("./assets/libs/fonts/OpenSauceSans-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Open Sauce Sans";
	src: url("./assets/libs/fonts/OpenSauceSans-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Open Sauce Sans";
	src: url("./assets/libs/fonts/OpenSauceSans-Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}