.ova-simple-image-box {
    position: relative;
    overflow: hidden;
    padding-left: 57px;  
    @media (max-width: 420px){
       padding-left: 30px; 
    }

     &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: #C7FF00;
        width: 22px;
        height: 4px;
        @media (max-width: 420px){
            width: 15px; 
        } 
    }
       
    .box-img {
        display: block;
        margin-bottom: 20px;
    }

    .caption {
        margin: 0; 
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
    }
}
